@page "/Account/AccessDenied"

<PageTitle>Access Denied</PageTitle>

<header class="p-4 text-center">
    <div class="rounded border-red-700	bg-red-500	 text-white p-4">
        <h1 class="text-xl font-bold ">Access denied</h1>
        <p class="text-lg mt-2">You do not have access to this resource.</p>
    </div>
</header>