@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<header class="p-4 text-center">
    <div class="rounded border-sky-300		bg-sky-500	 text-white p-4">
        <h1 class="text-xl font-bold">Forgot password confirmation</h1>
        <p class="text-lg mt-2">Please check your email to reset your password.</p>
    </div>
</header>