@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<header class="p-4 text-center">
    <div class="rounded  border-red-700	bg-red-500	text-white p-4">
        <h1 class="text-xl">Invalid password reset</h1>
        <p>
            The password reset link is invalid.
        </p>
    </div>
</header>


