@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>



<header class="p-4 text-center">
    <div class="rounded  border-red-700	bg-red-500	text-white p-4">
        <h3 class="text-lg">Invalid user</h3>
    </div>
</header>


<StatusMessage />
