@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header class="p-4 text-center">
    <div class="rounded border-red-700	bg-red-500	 text-white p-4">
        <h1 class="text-xl font-bold ">Locked out</h1>
        <p class="text-lg mt-2">This account has been locked out, please try again later.</p>
    </div>
</header>