<div id="link_tree" class="flex flex-col">
    <div class="flex justify-center">
        <a class="btn btn-white" href="">
            <img src="/svg/bandcamp.svg" class="icon" />
        </a>
    </div>
    <div class="flex flex-col lg:flex-row">
        <div id="streaming_links" class="flex-row items-center justify-around">
            <a target="_blank" href="https://open.spotify.com/artist/2Rie2HMfNzg82CEux0LnLV" class="btn">
                <img src="/svg/spotify.svg" class="icon" />
            </a>
            <a target="_blank" href="https://music.apple.com/us/artist/amiensus/385872156" class="btn">
                <img src="/svg/itunes.svg" class="icon" />
            </a>
            <a target="_blank" href="https://www.youtube.com/@@Amiensus" class="btn">
                <img src="/svg/youtube.svg" class="icon" />
            </a>
        </div>
        <div id="social_links" class="flex-row items-center justify-around">
            <a target="_blank" href="https://www.facebook.com/Amiensus" class="btn">
                <img src="/svg/facebook.svg" class="icon" />
            </a>
            <a target="_blank" href="https://www.instagram.com/amiensus" class="btn">
                <img src="/svg/instagram.svg" class="icon" />
            </a>
            <a target="_blank" href="https://www.tiktok.com/@@amiensus" class="btn">
                <img src="/svg/tiktok.svg" class="icon" />
            </a>
        </div>

    </div>
    <div id="label_link" class="flex flex-row justify-center">
        <a target="_blank" href="https://www.m-theoryaudio.com/" class="btn btn-lg">
            <img src="/img/m-theory-logo.jpg" class="icon rounded" />
        </a>
    </div>
</div>