@page "/blog"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@using Microsoft.AspNetCore.Components.Web
@using Client.Components;
@using Server.Models;
@using Server.Services;


@attribute [Authorize(Roles = "Admin")]

@inject BlogPostService BlogPostService;

@code {
    private List<BlogPost> LastFourBlogPosts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        LastFourBlogPosts = await BlogPostService.LastFourBlogPosts();
    }

}

<PageTitle>Amiensus | Blog</PageTitle>



<section id="blog_hero_container">
    <header class="hero">
        <h1 class="text-4xl uppercase">Blog</h1>
        <hr class="rule mt-4">
    </header>
</section>

<section>
    <div class="max-w-lg mx-auto">
        <div class="p-4">
            <div class="panel">
                <h2>Latest Posts</h2>
                <hr class="rule mt-2" />
                <div class="blog-posts">
                    @if (LastFourBlogPosts.Count > 0)
                    {
                        @foreach (var post in LastFourBlogPosts)
                        {
                            <div class="blog-post">
                                <h3 class="text-xl">@post.Title</h3>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="mt-4">No posts found.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<AuthorizeView Roles="Admin">
    <section>
        <div class="w-max-sm mx-auto flex items-center justify-center">
            <a href="/blog/admin" class="btn mx-auto my-4">
                Manage Blog
            </a>
        </div>
    </section>
</AuthorizeView>