<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/dist.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="theme-color" content="black">
    <meta name="color-scheme" content="dark">
    <HeadOutlet />
</head>

<body>
    <div id="app">
        <Routes />
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
