@using Client.Components
@using AntDesign.Icons;

@inherits LayoutComponentBase

<NavMenu />
<main id="main">
    @Body
    <footer id="footer">
        <div class="container mx-auto">
            <div class="p-4">
                <div class="flex items-center justify-center mb-3">
                    <h3>Neural Amp Modeler</h3>
                </div>
                @* <a href="https://github.com/sdatkinson/neural-amp-modeler">Base Repo</a>
                <br/>
                <a href="https://github.com/sdatkinson/NeuralAmpModelerPlugin">Plugin Repo</a> *@
                <p class="text-center text-sm">
                    ©2024 by Steven Atkinson
                </p>
            </div>
        </div>
    </footer>
</main>

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
