#cta_list {

}
#code_list .btn {
    display:flex;
}
#hero_main_img {
   
    margin:1rem -1rem 1rem;
    padding:1rem 1.5rem ;
    background: linear-gradient(45deg, #101555, #00e7ffde);
    box-shadow:0px 0px 1rem rgba(0, 0, 0, 0.5), inset 0px 0px 1rem #00019966;
}

#hero_main_img img{
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.75);
}

#affiliate_list {
    box-shadow: inset 0px 0px 1rem rgb(0 0 0 / 39%);
    border-radius: 1rem;
    background: rgb(0 0 0 / 39%);
    border-radius:1rem;
}

#code {
    position:relative;
    overflow:hidden;
    background:linear-gradient(0deg, rgba(0,0,0,0.25), transparent, rgba(0,0,0,0.25));

    /* border-top:1px solid #ffffff1f;
    border-bottom:1px solid #ffffff1f; */
}
/* #code_list {
    background: linear-gradient(45deg, #ff6a0096, #c940409e);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25
} */
/* 
#code_panel {
    z-index:10;
    border-radius:1rem;
    background:rgba(0,0,0,0.25);
} */
/* .matrix {
    opacity:0.3333;
    z-index:-1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:linear-gradient(0deg, rgba(0,0,0,0.5), transparent, rgba(0,0,0,0.5));
    height:100%;
    width: 100%;
} */
.affiliate-img {
    transition:transform 0.5s;
}
@media (min-width: 768px) {
    #hero_main_img {
        padding:1rem 3rem;
    }
    .affiliate-img:hover {
        transform:scale(1.1);
    }
}


@media (min-width: 1024px) { 

}

@media (min-width: 1280px) { 
    
}

@media (min-width: 1536px) {

}