@using Microsoft.AspNetCore.Identity;
@using Server.Data;
@using Server.Models;

@inject SignInManager<ApplicationUser> SignInManager

<ul id="account_nav_list" class="flex flex-row items-center justify-between">
    <li class="nav-item">
        <NavLink class="nav-link"  ActiveClass="active" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link"  ActiveClass="active" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link"  ActiveClass="active" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link"  ActiveClass="active" href="Account/Manage/ExternalLogins">External logins</NavLink>
        </li>
    }
    @* <li class="nav-item">
        <NavLink class="nav-link"  ActiveClass="active" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink>
    </li> *@
    <li class="nav-item">
        <NavLink class="nav-link"  ActiveClass="active" href="Account/Manage/PersonalData">Personal data</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}

<style>
    #account_nav_list {
        
    }
    #account_nav_list .nav-link {
        padding:0.5rem;
        border-radius: 0.25rem;
    }
    #account_nav_list .active {
        background:black;
    }
</style>