@inherits LayoutComponentBase
@layout AccountLayout

<section>
    <div class="hero">
        <h1 class="text-3xl">Manage your account</h1>
    </div>
</section>

<div id="manage_account">
    <p class="text-center">Change your account settings</p>

    <div class="max-w-sm mx-auto">
        <div class="p-4 mx-auto">
            <ManageNavMenu />
        </div>
        <div class="p-4">
            @Body
        </div>
    </div>
</div>
