@page "/about"

@using Microsoft.AspNetCore.Components.Web
@using Client.Components;

<PageTitle>Amiensus | About</PageTitle>

<section>
    <header id="about_hero" class="hero">
        <h1 class="text-4xl">
            About
        </h1>
        <hr class="rule mt-4" />
    </header>
</section>
<section>
    <div class="max-w-xl mx-auto">
        <div class="p-4">
            <div class="panel text-left">
                <img src="img/amiensus-2022.jpg" alt="Amiensus lineup circa 2022." class="mb-6 w-full rounded">
                <p>
                    We are a progressive black metal band blending diverse influences to create a unique sonic
                    experience.
                </p>
                <p>
                    We originate from the United States, with members spread
                    across Minnesota, Washington, and Wisconsin. Since forming in 2010, we have been dedicated to
                    crafting music that transcends genre boundaries, combining elements of black metal, progressive
                    metal, and folk to forge a sound that is uniquely our own.
                </p>
                <p>Here is a brief overview of our discography:</p>
                <div>
                    <h2 class="text-2xl">Discography</h2>
                    <ul class="mt-4 space-y-2 list-disc">
                        <li class="ml-6"><strong class="text-yellow">Restoration</strong> (2012): Our debut album that set the foundation for our sonic
                            journey.</li>
                        <li class="ml-6"><strong class="text-yellow">Ascension</strong> (2015): A dynamic exploration of progressive and melodic
                            elements.</li>
                        <li class="ml-6"><strong class="text-yellow">All Paths Lead to Death</strong> (2017): An EP showcasing a darker, more intense
                            sound.</li>
                        <li class="ml-6"><strong class="text-yellow">Abreaction</strong> (2020): A full-length album praised for its emotional depth and
                            diverse influences.</li>
                        <li class="ml-6"><strong class="text-yellow">Reclamation: Parts 1 & 2</strong> (2024): Our latest two-part album exploring themes
                            of renewal and self-discovery.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>