@page "/contact"

@using Microsoft.AspNetCore.Components.Web
@using Client.Components;

<PageTitle>Amiensus | Contact</PageTitle>

<section>
    <header class="hero">
        <h1 class="text-4xl">
            Contact
        </h1>
    </header>
</section>