@page "/"

@using Microsoft.AspNetCore.Components.Web
@using Client.Components;

<PageTitle>Amiensus | Home</PageTitle>

<header id="hero_main">
    <h1 class="text-4xl">Amiensus</h1>
    <p class="subititle">progressive black metal</p>
</header>