@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: 'requiemfine-htf-italic';
    src: url('/font/requiemfine-htf-italic-webfont.woff2') format('woff2'),
         url('/font/requiemfine-htf-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'requiemtext-htf-roman';
    src: url('/font/requiemtext-htf-roman-webfont.woff2') format('woff2'),
         url('/font/requiemtext-htf-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.italic, i {
    font-family: 'requiemfine-htf-italic';
}

:root {
    font-size: 18px;
    font-family: "requiemtext-htf-roman", serif;
    color-scheme: dark;
}
*::selection {
    background: red;
    color:white;
}
.btn::selection,
button::selection {
    background:none;
}
body,
.text-yellow {
    color:#e7c029fc;
}
.text-blue {
    color:#45a7c7fc;
}
#app {
    background-image:url('/img/bg-b&w@0.5x.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-position:50% 50%;
    /* @apply absolute;
    top:0;
    right:0;
    bottom:0;
    left:0; */
}
/* #main {
    @apply relative;
    top: 64px;
    right:0;
    bottom:0;
    left:0;
} */
#main {
    margin-top:64px;
}
.container {
    transition:width 0.3s ease-in-out;
}

p {
    max-width:45ch;
    text-align:center;
    margin:0 auto;
    font-weight:200;
    margin-bottom:1rem;
}
.panel p,
.panel ul {
    color:white;
}
.panel {
    text-align:left;
}
.panel.panel-danger {
    background:#5c1616;
}
#nav_menu {
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
    /* background: linear-gradient(45deg, #1b1c20, #1b1c1e);
     */
    background-color:rgba(0,0,0,0.75);
    backdrop-filter: blur(0.5rem);
    z-index:100; 
}
.transparent {
    opacity:0.0;
}
#logo:hover {
    text-shadow:0px 0px 0.5rem rgba(225,225,225,0.5);
}
#nav_bar {
    @apply flex;
    @apply flex-row;
    @apply items-center;
    @apply justify-between;
    @apply p-2;

}
#nav_container {
   
    @apply container;
    @apply relative;
    @apply md:flex;
    @apply md:flex-row;
    @apply md:items-center;
    @apply md:justify-between;
    @apply mx-auto;

}
#nav_items {
    top: 64px;
    right: 0;
    left: 0;
    background: black;
    backdrop-filter: blur(1rem);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
    font-size:1.25rem;
}

.nav-item {
    display:block;
    text-align:center;
    font-size:1.5rem;
}
#nav_list .nav-item {
    padding:0.5rem;
    border-radius:0.5rem;
    background:rgb(11 11 11);
    transition: all ease 0.3s;
}
.nav-item span + .icon {
    margin-left:0.25rem;
}
#account_label {

}
#account_container {
    margin:1rem;
    border-radius:0.5rem;
    background:rgb(225 225 225 / 5%);
}
#account_container .nav-item {
    padding:0.5rem 1rem;
    font-size:1rem;
}
#account_container .hr.rule {
    border-color: yellow;
}
#account_btns {
    border-radius:0.5rem;
    background:#080808;
}

#nav_search {   
    @apply relative;
}

#search_container input {
    @apply p-2;
    padding-left:2.5rem;
}
#nav_search .icon {
    @apply absolute;
    @apply left-0;
    @apply z-10;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply p-2;
    @apply text-gray-800;
    @apply text-2xl;
}
#logo {
    @apply font-bold;
    @apply mx-auto;
    font-weight: 400;
    font-style: normal;
    text-align:center;
    color:white;
    /* font-size: 14px; */
    text-shadow:0px 0px 1rem rgba(0,0,0,0.5);
}
#hero_main_container {
    background:url('/img/potential-bg-bw@0.5x.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}
#hero_logo {
    filter:drop-shadow(0px 0px 1rem rgba(0,0,0,0.5));
}

#hero_main_overlay {
    background: linear-gradient(0deg, #000000ad, transparent);
    z-index: 1;
}
#hero_main {
    z-index:10;
}

#hero_text {
    background: rgb(0 0 0 / 50%);
}

#hero_genre {
    font-size:1.25rem;
}
hr {
    border-color:currentColor;
}
hr.rule {
    max-width: 2rem;
    @apply mx-auto;
    border:0;
    border-bottom: 3px solid #295a6dfa;
}
.hero {
    @apply container;
    @apply mx-auto;
    padding:2rem 1rem 2rem;

    text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 1.0);
    /* border-bottom-right-radius:0.5rem;
    border-bottom-left-radius:0.5rem; */
    /* box-shadow: inset 0px 0px 1rem rgba(0, 0, 0, 0.25); */
}
.hero h1 {
    font-family: "Michroma", serif;
}
.hero p {
    font-weight: 200;
}
.hero-content {
    @apply text-center;
    border-radius:1rem;
    /* background:rgba(0,0,0,0.5); */
}
.hero .btn {
    @apply mt-6 mb-4;
    font-size:1.5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / 65%);
    /* min-width:6ch; */
}
/* .hero .btn .icon {
    height:1.25rem;
    width:auto;
} */
.hero .btn-lg {
    padding:0.5rem 3rem;
}
.hero .btn-lg .icon {
    height:3rem;
    width:auto;
}
.btn {
    @apply py-3 px-6;
    @apply inline-flex;
    @apply rounded;
    @apply items-center;
    @apply justify-center;
    text-align:center;
    /* background: linear-gradient(45deg, #111111, #0f0e0e, #000000, #131313); */
    background:#0d0e0f;

    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.3333);
    /* text-shadow: 0px 0px 0.5rem #ffffff75; */
    /* border:1px solid #f1f1f1; */

    transition:all ease-in 0.3s;
    margin-right:0.25rem;
    margin-left:0.25rem;
}
.btn.btn-white {
    background:#ffffff;
}
.btn .icon + span {
    margin-left:0.25rem;
}
.btn span + .icon {
    margin-left:0.25rem;
}
.btn .anticon  + span,
.btn span + .anticon {
    margin-left:0.25rem;
}
.btn-primary {
    border:none;
    background: #000038;
    color:white;
    /* box-shadow:inset 0px 0px 0.25rem rgb(0, 0, 0); */
    /* border:3px solid rgba(255,255,255,0.25); */
}

.btn {
    transition:transform 0.3s ease-in-out;
}
.btn:hover {
    transform:scale(1.05);
}
.btn:active {
    transform:scale(1.0);
}
.btn-secondary {
    border:none;
    background:linear-gradient(45deg, #256b1d, #549f2f, #238723);
}
.btn-tertiary {
    border:none;
    background:linear-gradient(45deg, #555454, #999797, #cfc7c7);
    background:#212121;
    color:white;
    text-shadow:0px 0px 0.25rem rgba(0,0,0,0.5);
    /* box-shadow:inset 0px 0px 0.25rem rgb(0, 0, 0); */
    /* border:3px solid rgba(255,255,255,0.25); */
}
.btn.btn-sm {
    @apply py-2 px-4;
    font-size:1rem;
}


.rule {
    max-width: 8%;
    @apply mx-auto;
    border:0;
    border-bottom: 3px solid #295a6dfa;
}

#no-posts {
    color:#ada9a9;
}

#code {
    /* background:white; */
    /* color:black; */
    @apply py-8;
}
#affiliates {
    background: #00000042;
    box-shadow: inset 0px 0px 1rem rgb(0 0 0 / 28%);    
}
#affiliates-list {

}
.affiliate-item {
    @apply flex;
    @apply items-center;
    @apply justify-center;
}
.affiliate {
    /* max-width:8rem; */

}
.affiliate-img {
    @apply mx-auto;
    @apply my-6;
    max-width:8rem;

}

h1,
h2,
h3 {
    text-align:center;
}

.panel {
    padding: 1rem;
    border-radius: 0.5rem;
    /* background: rgba(0, 0, 0, 0.5);
     */
     background: rgb(49 49 49 / 50%);
}

.icon {
    height: 1rem;
    width: auto;
}

#footer .text-sm {
    font-weight:200;
} 


#footer {
    background:black;
}
#copy {
    color:#ada9a9;
}
@media (min-width: 414px) {

}


@media (min-width: 768px) {
    #main {
        top:58px;
    }
    #nav_list,
    #account_container {
        padding:0;
    }
    #account_container {
        margin:0 1rem;
        background:none;
    }
    #nav_menu {
        background:black;
    }
    #nav_bar {
    
    }
    #nav_items {
        background:none;
        box-shadow:none;
        font-size:0.75rem;
        backdrop-filter:none;
    }
    .nav-item {
        padding:1rem 0.25rem 19px;
        transition: all ease 0.3s;
        font-size:1rem;
    }
    #nav_list .nav-item {
        padding:1rem 0.25rem 19px;
        border-radius:0;
        background:none;
        margin:0;
    }

    #nav_list .nav-item.active {
        color:white;
        text-shadow:0px 0px 0.5rem rgba(225,225,255,0.75);
        border-bottom:2px solid rgba(231, 192, 41, 0.99);
    }

    #hero_logo {
        max-width:55ch;
    }

    .hero p {
        font-size:1.5rem;

        margin-bottom:0.75rem;
        @apply mx-auto;
    } 

    .affiliate-img {
        max-width: 8rem;
    }
    
}


@media (min-width: 1024px) { 

    #nav_list {
        margin-right:1rem;
    }
    #hero_logo {
        max-width:75ch;
    }
    .hero {
        box-shadow:none;
    }
    #hero_main_img {
        background:transparent;
        padding-bottom: 19px;
        border-radius:1rem;
    }
    .nav-item:hover {
        border-bottom:1px solid #41819d61;
        text-shadow:0px 0px 1rem rgba(225,225,255,0.75);
    }
    #account_btns {
        overflow:hidden;
    }
    #account_container .nav-item:hover {
        border:none;
        background:#2a2929;
    }
    .affiliate-img {
        max-width: 10rem;
    }
}

@media (min-width: 1280px) { 
    
}

@media (min-width: 1536px) {

}