@page "/blog/admin";
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "Admin")]

<AuthorizeView Roles="Admin">
    <Authorized>
        <section>
            <header class="hero">
                <h2 class="text-3xl">Blog Manager</h2>
            </header>
        </section>
    </Authorized>
    <NotAuthorized>
        <section>
            <div class="max-w-md mx-auto">
                <h2 class="text-3xl text-red-500 panel">Access Denied</h2>
                <p>You do not have permission to view this page.</p>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>